
<h2 *ngIf="doctor?.nombre != null">Lista de pacientes del doctor(a) {{doctor?.nombre}}</h2>
<h2 *ngIf="doctor?.nombre == null">Lista de pacientes </h2>
<button *ngIf="doctor?.nombre != null" mat-raised-button color="primary" (click)="crear()" style="display: inline;">Registrar paciente y crear primera Nota de Visita</button>

<div class="form-busqueda" *ngIf="doctor?.nombre == null">
  
  Nombre:<input matInput color="accent" placeholder="Nombre" [(ngModel)]=nombreBusqueda />&nbsp;&nbsp;
  Apellido:<input matInput color="accent" placeholder="Apellido" [(ngModel)]=apellidoBusqueda />&nbsp;&nbsp;
  <button mat-raised-button color="primary" (click)="buscar()">Buscar</button>

</div>
<mat-table [dataSource]="pacientes">
    
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.apellido}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaNacimiento">
      <mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fechaNacimiento}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.direccion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="botones">
        <mat-header-cell *matHeaderCellDef>Notas / Editar / Eliminar</mat-header-cell>
        <mat-cell *matCellDef="let row"> 
            
          
            <button mat-fab color="primary" aria-label="Nota Visita" (click)="openDialog(doctorId,row)" 
              *ngIf="doctor?.nombre != null">
              <mat-icon>note_add</mat-icon>
            </button>

            <button mat-fab color="primary" aria-label="Editar" (click)="editar(row)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Eliminar" (click)="eliminar(row)">
                <mat-icon>delete</mat-icon>
            </button>

            
        </mat-cell>
      </ng-container>
  
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['nombre', 'apellido','fechaNacimiento', 'direccion','botones']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['nombre', 'apellido','fechaNacimiento', 'direccion','botones']"></mat-row>
  </mat-table>