
<mat-sidenav-container opened>

    <mat-sidenav-content>
        <h3>Menú</h3>
        <hr>
        <mat-list-item routerLink="/main/hospital">
            <fa-icon [icon]="faHospital"></fa-icon>Hopsitales
        </mat-list-item>
        <mat-list-item routerLink="/main/doctor/0">
            <fa-icon [icon]="faStethoscope"></fa-icon>Doctores(as)
        </mat-list-item>
        <mat-list-item routerLink="/main/paciente/0">
            <fa-icon [icon]="faProcedures"></fa-icon>Pacientes
        </mat-list-item>

        
        
    </mat-sidenav-content>
</mat-sidenav-container>