.mat-column-nombre {
    flex: 0 0 20% !important;
    width: 20% !important;
}
.mat-column-apellido {
    flex: 0 0 20% !important;
    width: 20% !important;
}
.mat-column-fechaNacimiento {
    flex: 0 0 15% !important;
    width: 15% !important;
}
.mat-column-direccion {
    flex: 0 0 20% !important;
    width: 20% !important;
}
.mat-column-botones {
    flex: 0 0 15% !important;
    width: 15% !important;
}
.form-busqueda{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    padding-bottom: 8px;
}